<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar Sesión | Nexum</title>
    <%- include ('partials/head-admin') %>
  </head>
  <body>
    <div class="login-card">
      <h4 class="text-center login-title mb-4">Iniciar Sesión</h4>
      <form action="/login" method="POST">
        <div class="mb-3">
          <label for="email" class="form-label">Correo electrónico</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            required
            placeholder="tucorreo@ejemplo.com"
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            required
            placeholder="••••••••"
          />
        </div>
        <div class="d-flex justify-content-between align-items-center mb-3">
          <div>
            <input
              type="checkbox"
              id="remember"
              name="remember"
              class="form-check-input me-1"
            />
            <label for="remember" class="form-check-label">Recordarme</label>
          </div>
          <a href="#" class="text-link">¿Olvidaste tu contraseña?</a>
        </div>
        <button type="submit" class="btn btn-primary w-100">Entrar</button>
      </form>
    </div>
  </body>
</html>
