<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nexum</title>
    <%- include ('partials/head') %>
    <link rel="stylesheet" href="/src/public/css/main.css">
</head>
<body>
    <%- include ('partials/navigation') %>
</body>
</html>